*{
    box-sizing: border-box;
}
html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
}
body{
    margin: 0;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}

/* CONTENT */
.main-header{

    background-color: #ff7f00;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-nav:first-child{
    margin-inline-start: 30px;
}
.main-nav{
    height: 100%;
    display:flex;
    justify-content: space-between;
    margin-inline-end: 15px;
}
.main-nav-info{
    display: flex;
}
.main-nav-info a {
    display:flex;
    height: 33px;
    width: 50px;
    /* font-size: 1.15rem; */
    margin-inline-end: 10px;
}
.btn-menu{
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
.open .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
.open .bar2 {opacity: 0;}
  
.open .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

.img-logo{
    width: 150px;
    height: 50px;
    object-fit: contain;
}
.main-header .img-logo{
    margin-inline-start: 25px;
}
.main-content{
    background-color: #e3e3e3;
    width: 100%;
    padding: 27px 49px 27px 50px;

}
.search-container{
    background-color: #fff;
    width: 100%;
    height: 65px;
}
.search-input{
    width: 215px;
    height: 55px;
    border: none;
    border-bottom: 3px solid black;
    font-Size:1.05rem
}
.images-container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 100%;

    
}
.images-container img{
   display: flex;
   flex-wrap: wrap;
    padding: 5px;
    width: 140px;
    height: 110px;
    cursor: pointer;
}
img:hover{
    background-color: rgba(250, 226, 226, 0.808);
    
}
.meme-container{
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    /* display: flex; */
    padding-top: 15px;
    padding-bottom: 15px;
}
/* MEME CONTROLLER */
.meme-controller{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
canvas{
    width: 100%;
    display: flex;
    max-width: 350px;
    max-height: 350px;
    border: 1px solid black; 
    margin: auto;
}

.img-controller{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 5px;
    margin-inline-end: 5px;
    cursor: pointer;
}
.line-crud{
    margin-bottom:20px;
}
.font-editing{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.font-select{
    width: 110px;
    height:30px;
    border-radius: 6px;
    border: none;
    margin-top: 5px;
    
}
.btn-color{
    position: relative;
    border:none;
    background: none;
}
.input-color{
    opacity:0;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.color-editing{
    margin-bottom: 10px;
}

.txt-line{
    width: 190px;
    height: 30px;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
}
.share{
    display: flex;
    font-size: .75rem;

}
.share-btn{
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #ff7f00;
    height: 30px;
    width: 60px;
    border-radius: 6px;
    margin-inline-end: 5px;
}
footer{
height: 105px;
background-color: #ff7f00;
}
.main-footer{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-footer .img-logo{
    margin-top: 20px
}
/* FLEX HELPERS */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}
.justify-content{
    justify-content:center;
}

.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.space-evenly{
    justify-content: space-evenly;

}
/* LIST HELPERS */
.clean-list{
    list-style: none;
    margin:0;
    padding: 0;
}

/* Media */
@media (min-width: 700px) {
   .meme-controller{
       width: 50%;
    } 
    .meme-container{
    flex-direction: row;
    }
    canvas{
    width: 100%;
    /* width: 350px; */
    /* height: 350px; */
    margin-inline-start: 25px;
    margin-inline-end: 55px;
    }
    .images-container img{
    width: 185px;
    height: 150px;
    }
    .btn-menu{
        display: none;
    }
}
@media (max-width:700px){
        .main-nav-info{
            flex-direction:column;
            position:fixed;
            right:0;
            top:0;
            height:100vh;
            background-color: #ff7f00;
            transform: translateX(100%);
            transition: transform .6s;
        }
        .main-nav-info a{
            display:block;
            text-align: right;
            /* height: 100px; */
            width: 80px;
            padding: 10px;
            transition: background-color .3s;
        }
        .main-nav-info a:first-child{
            margin-top: 50px;
        }
        body.menu-open .main-nav-info{
            transform: translateX(0);
        }
    }